#overall{
    background-color: khaki;
    border: 2px solid black;
}
#menu ul li a{
    display: inline block;
    padding: 5px;
    font-weight: bold;
    text-align: left; 
}
h1{
    text-align: center;
}